header {
    background-color: black;
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    font-family: 'Tilt Prism', cursive;
    font-size: 70px;
    color: gold;
    text-align: center;
}

form {
    margin-top: 15px;
}

label {
    font-size: 30px;
}

input {
    width: 100%;
    padding: 5px;
}

h1>img {
    height: 200px;
    width: 200px;
}

.user-search-btn {
    margin-top: 10px;
    background-color: gold;
    width: 100%;
    color: black;
    font-weight: bold;
    /* border-radius: 4rem; */
}

.search-button {
    width: 100%;
    background-color: gold;
    color: black;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
    /* border-radius: 2rem; */
}

.save-btn {
    background-color: gold;
    color: black;
    font-weight: bold;
    padding: 5px;
    width: 50%;
    margin-top: 30px;
    align-items: center;
}

#current-movie>.poster {
    height: 650px;
    width: 600px;
    padding-top: 30px;
    border: solid gold;
}

#logo-container > #streaming {
    margin-top: 30px;
    align-items: center;
}

#current-movie {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#movie-title {
    margin-top: 15px;
}

h2 {
    font-size: 45px;
}

p {
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
}