/* #current-movie {
    border: solid black;
} */

/* * {
    background-image: url("project-1\assets\images\popcorn.jpg");
} */

input {
    width: 100%;
}

.btn {
    width: 100%;
    background-color: red;
}

header {
    background-color: pink;
}