header {
  background-color: black;
}

h1 {
  font-family: 'Tilt Prism', cursive;
  font-size: 70px;
  color: gold;
  text-align: center;
}

header h1 img {
  height: 10vw;
  width: 10vw;
  max-height: 150px;
  max-width: 150px;
}

header h1 {
  font-size: 5vw;
}

header a {
  font-size: 1.5vw;
  justify-content: center;
  display: block;
}

@media (max-width: 600px) {
  header h1 img {
    height: 75px;
    width: 75px;
  }
  
  header h1 {
    font-size: 40px;
  }
  
  header a {
    font-size: 20px;
  }
}


body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

form {
    margin-top: 50px;
}

label {
    font-size: 28px;
    color: white;
}

input {
    width: 100%;
    padding: 5px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}


.user-search-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: gold;
    width: 100%;
    color: black;
    font-weight: 600;
}

.search-button {
    width: 100%;
    background-color: gold;
    color: black;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 10px;
}

.save-btn {
    background-color: gold;
    color: black;
    font-weight: 600;
    padding: 5px;
    width: 60%;
    margin-top: 30px;
}

.btn {
    background-color: gold;
    color: black;
    font-weight: 500;
    padding: 5px;
    font-size: 15px;
    margin: 20px;
    cursor: pointer;
}

#current-movie>.poster {
    height: 650px;
    width: 500px;
    margin-top: 30px;
}

#logo-container>#streaming {
    margin-top: 30px;
    background-color: gold;
    
}

/* #logo-container {
    background-color: gold;
    width: 60%;
} */

#current-movie {
    margin-top: 50px;
    justify-content: center;
}

p {
    font-size: 20px;
    padding-top: 20px;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
}

#show-movies>li {
    color: white;
    font-size: 30px;
    padding: 15px;
}

#saved-movies {
 color: gold;
 font-weight: 600;
 margin-bottom: 5px;
 text-align: center;
}

a:hover {
    color: black;
}


.btn {
 background-color: gold;
 color: black;
 font-weight: 500;
 padding: 5px;
 font-size: 15px;
 cursor: pointer;
 margin-left: 15px;
} 

#saved-movies-container {
    text-align: center;
}

.movie-recommendation {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    clear: left;
    text-align: center;
    width: 200px;
}

.movie-recommendation img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.movie-recommendation p {
    margin: 0;
    font-size: 14px;
}